// 초기화면
.home-wrap {
  padding: 20px;
  box-sizing: border-box;
  .link-box {
    > p {
      font-size: 18px;
      font-weight: bold;
    }
    & + .link-box {
      margin-top: 20px;
    }
  }
  ul {
    display: flex;
    margin-top: 10px;
  }
  li {
    display: block;
    & + li {
      margin-left: 10px;
    }
    a {
      display: block;
      text-align: center;
      text-decoration: none;
      color: #111;
      font-weight: 500;
      padding: 10px 20px;
      box-sizing: border-box;
      border: 1px solid #111;
    }
    p {
      font-size: 14px;
      color: #999;
    }
  }
}
#skipnav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  a {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: aquamarine;
    color: #111;
    text-align: center;
    transform: translateY(-100%);
    z-index: 1;
    display: block;
    &:focus,
    &:active {
      transform: translateY(0);
    }
  }
}

// 초기화면
.wrap {
  &.default {
    text-align: center;
    .header,
    .footer {
      background-color: #ffe4c4;
    }
    .container {
      width: 1400px;
      margin: 0 auto;
    }
    nav {
      ul {
        display: flex;
        align-items: center;
      }
    }

    &.fix-layout {
      .header {
        .container {
          padding: 20px 0;
          display: flex;
          align-items: center;
        }
      }
      main {
        .container {
          background-color: #8ee6c6;
          height: 500px;
        }
      }
    }
    &.fluid-layout {
      .header {
        .container {
          padding: 20px 0;
          display: flex;
          align-items: center;
        }
      }

      main {
        .container {
          background-color: #8ee6c6;
          height: 500px;
          &.fluid {
            width: 100%;
          }
        }
      }
    }
    &.responsive-layout {
      .header {
        .container {
          padding: 20px 0;
          display: flex;
          align-items: center;
        }
      }

      @media all and (max-width: 1400px) {
        .container {
          width: 100%;
        }
        .box-wrap {
          grid-template-columns: repeat(3, 1fr);
        }
      }
      @media all and (max-width: 767px) {
        .box-wrap {
          grid-template-columns: repeat(2, 1fr);
        }
      }
      @media all and (max-width: 479px) {
        .box-wrap {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }

  &.adaptive-layout {
    .header {
      .container {
        padding: 20px 0;
        display: flex;
        align-items: center;
      }
    }
    &.tablet {
      .container {
        width: 100%;
      }
      &.android {
      }
      &.ios {
      }
    }
    &.mobile {
      .container {
        width: 100%;
      }
      .header-inner {
        justify-content: center;
      }
      nav {
        display: none;
      }
      &.android {
      }
      &.ios {
      }
    }
  }
  .typecheck-box {
    p {
      font-size: 20px;
      line-height: 2;
    }
  }
}
// box샘플
.box-wrap {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  //grid-template-columns: repeat(auto-fit, minmax(342.5px, 1fr));
  gap: 10px;
  .box {
    border: 1px solid #111;
    padding: 20px 0;
    text-align: center;
  }
}

//fix
.fix-layout {
  &.swhub {
    .container {
      width: 1280px;
      margin: 0 auto;
    }
    .header {
      background-color: #fff;
      position: relative;
      &::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: #e5e5e5;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 0;
        display: block;
      }
      .container {
        display: flex;
        align-items: center;
        .logo {
          width: 226px;
        }
        .gnb {
          flex-grow: 1;
          ul {
            display: flex;
            align-items: center;
            li {
              flex: 1;
              text-align: center;
            }
            a {
              display: block;
              color: #161616;
              font-size: 20px;
              font-weight: 700;
              line-height: 32px;
              padding: 24px 0;
              position: relative;
              &::after {
                content: "";
                width: 100%;
                height: 3px;
                background-color: $color-primary;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
                display: none;
              }
              &:hover {
                color: $color-primary;
                &::after {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
    main {
      section {
        .container {
          background-color: #8ee6c6;
        }
        .box-wrap {
          width: 1280px;
          max-width: 1280px;
        }
      }
    }
    .key-visual-wrap {
      width: 100%;
      position: relative;
      background-color: #ffe4c4;
      .container {
        height: 320px;

        h2 {
          color: #161616;
          font-size: 44px;
          font-weight: 700;
          line-height: 56px;
          padding-top: 88px;
        }
      }
    }
    .footer {
      background-color: #f8f8f8;
    }
    .container {
      padding: 25px 0;
      position: relative;
    }
    .footer-info {
      ul {
        margin: 4px 0;
        display: flex;
        align-items: center;
        gap: 49px;
        li {
          & + li {
            position: relative;
            &::before {
              content: "";
              width: 1px;
              height: 25px;
              background-color: #e5e5e5;
              position: absolute;
              top: 50%;
              left: calc(-49px / 2);
              transform: translateY(-50%);
            }
          }
        }
      }
      a {
        color: #676767;
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
      }
      .footer-logo {
        position: absolute;
        top: 25px;
        right: 0;
        width: 184px;
        height: 36px;
      }
    }
    .footer-address {
      margin-top: 16px;
      p {
        color: #676767;
        line-height: 24px;
      }
    }
  }
}
//fluid
.fluid-layout {
  &.swhub {
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 200px auto;
    overflow: hidden;
    .header {
      width: 100%;
      grid-column: span 2;
      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    .logo {
      width: 200px;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .global-box {
      display: flex;
      align-items: center;
      padding: 14px 20px 14px 0;
      .user-name {
        color: #666;
      }
      .user-icon {
        width: 36px;
        height: 36px;
        margin-left: 8px;
      }
      button {
        width: 36px;
        height: 36px;
        margin-left: 20px;
      }
    }
    main {
      width: 100%;
      height: calc(100vh - 64px);
      background-color: #f6f6f6;
      padding: 0 40px;
      box-sizing: border-box;
      overflow-x: auto;
      h2 {
        color: #252525;
        font-size: 20px;
        font-weight: 700;
        margin: 14px 0;
      }
      section {
        width: 100%;
        min-width: 1200px;
        background-color: #fff;
        margin: 0;
        padding: 24px 24px 36px;

        .test {
          width: 1000px;
          height: 300px;
          background-color: red;
          margin-right: 100px;
        }
        .test2 {
          height: 300px;
          background-color: blue;
          margin-top: 50px;
        }
      }
    }
    .aside {
      width: 200px;
      background-color: #192642;
    }
    .gnb {
      overflow-y: auto;
      height: calc(100vh - 64px);
      a {
        display: block;
        color: #fff;
        font-weight: 700;
        line-height: 30px;
        padding: 12px 16px 12px 28px;
      }
    }
  }
}
// responsive
.responsive-layout {
  &.dreams {
    .container {
      width: 1400px;
      margin: 0 auto;
    }
    .header {
      background-color: #fff;
      .container {
        width: 1400px;
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        align-items: center;
      }
    }
    .logo {
      width: 186px;
      img {
        width: 138 px;
      }
    }
    .gnb {
      width: 669px;
      ul {
        display: flex;
        align-items: center;
        li {
          flex: 1;
          text-align: center;
        }
        a {
          display: block;
          color: #272727;
          font-size: 24px;
          font-weight: 700;
          line-height: 36px;
          padding: 32px 0;
          position: relative;
        }
      }
    }
    .global-box {
      display: inline-flex;
      align-items: center;
      gap: 16px;
      margin: 26px 0;
      margin-left: auto;
    }
    .searchbar {
      display: inline-flex;
      align-items: center;
      gap: 12px;
      input {
        width: 270px;
        border: 1px solid #e6e6e6;
        padding: 9px 12px;
        color: #161616;
        font-size: 16px;
        &::placeholder {
          color: #c4c4c4;
          font-size: 16px;
        }
      }
      button {
        width: 36px;
        height: 36px;
      }
    }
    .key-visual-wrap {
      background-color: #ffe4c4;
      .container {
        height: 352px;
        h2 {
          color: #161616;
          font-size: 64px;
          font-weight: 700;
          line-height: 76px;
          padding-top: 88px;
          span {
            font-size: 18px;
          }
        }
      }
    }

    .footer {
      border-top: 1px solid #e6e6e6;
    }
    .footer-inner {
      max-width: 1400px;
      margin: 0 auto;
    }
    .footer-link {
      width: 1400px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      ul {
        margin: 20px 0;
        display: flex;
        align-items: center;
        gap: 49px;
        li {
          & + li {
            position: relative;
            &::before {
              content: "";
              width: 1px;
              height: 25px;
              background-color: #e6e6e6;
              position: absolute;
              top: 50%;
              left: calc(-49px / 2);
              transform: translateY(-50%);
            }
          }
        }
      }
      a {
        color: #686868;
        line-height: 30px;
      }
      .familly-site {
        select {
          width: 256px;
          height: 48px;
          padding: 9px 16px;
          font-size: 16px;
          color: #484848;
        }
      }
    }
    .footer-info {
      width: 1400px;
      display: flex;
      gap: 35px;
      padding-top: 19.5px;
      padding-bottom: 66px;
      border-top: 1px solid #e6e6e6;
      .footer-logo {
        img {
          width: 138px;
        }
      }
      .footer-address {
        b {
          color: #686868;
          font-size: 18px;
          //font-weight: ;
        }
        p {
          color: #686868;
          margin-top: 4px;
        }
        .copy {
          color: #c4c4c4;
          font-size: 14px;
          margin-top: 4px;
        }
      }
    }
    @media all and (max-width: 1400px) {
      .header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: transparent;
        border-bottom: 1px solid #e6e6e6;
        .container {
          width: 100%;
          padding: 0 20px;
          justify-content: space-between;
        }
      }
      .gnb {
        display: none;
      }
      .global-box {
        .searchbar {
          display: none;
        }
      }
      main {
        .key-visual-wrap {
          .container {
            width: 100%;
            height: 577px;
            padding: 0 20px;
            h2 {
              font-size: 48px;
              line-height: 1;
              padding-top: 140px;
              span {
                display: block;
                margin-top: 4px;
              }
            }
          }
        }
      }
      section {
        .container {
          width: 100%;
          padding: 0 20px;
        }
        .box-wrap {
          margin-top: 0;
          margin-bottom: 0;
          padding: 20px 0;
          grid-template-columns: repeat(1, 1fr);
        }
      }
      .footer {
        margin: 0 20px;
        width: calc(100% - 40px);
        border-top: 1px solid #484848;
        .container {
          width: 100%;
          max-width: 100%;
          flex-wrap: wrap;
        }
      }
      .footer-link {
        flex-wrap: wrap;
        width: 100%;
        ul {
          flex-wrap: wrap;
          gap: 8px 25px;
          margin: 24px 0;
          li {
            & + li {
              &::before {
                height: 16px;
                left: calc(-25px / 2);
              }
            }
          }
        }
        .familly-site {
          flex-grow: 0;
          width: 100%;
          select {
            width: 100%;
          }
        }
      }
      .footer-info {
        width: 100%;
        flex-direction: column;
        gap: 4px;
        .footer-address {
          b {
            line-height: 32px;
          }
          p {
            line-height: 30px;
          }
        }
      }
    }
  }
}

//responsive
.pc-class {
  .box {
    background-color: #ffe4c4;
  }
}
.mobile-class {
  .box {
    background-color: red;
  }
}
